@font-face {
  font-family: 'MavenPro-Regular';
  src: url('../fonts/MavenPro/MavenPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MavenPro-Medium';
  src: url('../fonts/MavenPro/MavenPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MavenPro-Bold';
  src: url('../fonts/MavenPro/MavenPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MavenPro-Black';
  src: url('../fonts/MavenPro/MavenPro-Black.ttf') format('truetype');
}

@import 'kdev/variables';
@import 'kdev/layout';
@import 'kdev/typography';
@import 'kdev/misc';
@import 'kdev/extraComponents';
@import 'kdev/themes';
@import 'kdev/routerAnimations';
@import 'kdev/transitions';
@import 'kdev/customClasses';
@import 'kdev/fixesVuesax';
@import 'kdev/tailwindFix';
